# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

[flake8]
exclude =
  python/build/
  python/.eggs/
max-line-length = 150
inline-quotes = "
ignore =
  C408
  E121
  E123
  E126
  E203
  E225
  E226
  E227
  E402
  E999
  E24
  E704
  W503
  W504
  W605
  I
  N
  B001
  B002
  B003
  B004
  B005
  B007
  B008
  B009
  B010
  B011
  B012
  B013
  B014
  B015
  B016
  B017
avoid-escape = no
