**/*.cpp
**/*.so
**/*.dylib
**/*.pyd
bazel-*
.whl
python/.cache
python/pyfury/__pycache__/
python/dist
python/build
python/pyfury.egg-info
cython_debug
**/*.prof
**/*.pyc
testresult
java/target
benchmark/target
**/target/**/**
java/**/.code/
java/**/dependency-reduced-pom.xml
**/pom.xml.versionsBackup
**/.code/
**/*.iml
**/*.html
**/target
.idea/
java/dependency-reduced-pom.xml
java/foo
scala/.bsp
scala/.idea
bazel-*/
bazel-fury/
bazel-fury/**
java/**/generated
javascript/**/dist/
javascript/**/node_modules/
javascript/**/build
MODULE.bazel
MODULE.bazel.lock
.DS_Store
**/.DS_Store
